<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="outer" class="com.learnerslife.Outer">
		<property name="name" value="Pawan Pandey" />
		<property name="inner">
			<bean class="com.learnerslife.Inner">
				<property name="house" value="S-15 Ittina Mahaveer" />
				<property name="locality" value="Haddosiddapura" />
				<property name="pin" value="560009" />
				<property name="city" value="Begur" />
				<property name="district" value="Bengaluru" />
				<property name="state" value="Karnataka" />
			</bean>
		</property>
	</bean>
</beans>